:host {
  padding: 10px;
}

.project {
  margin-top: 5px;
}

table {
  width: 100%;
  padding: 15px;
}

.myform-card {
  max-width: 300px;
}

.action {
  width: 20;
  height: 35px;
}

.form {
  display: flex;
  padding-top: 6px;
}