<mat-card class="example-card">
  <mat-card-header>

    <mat-card-title>Options</mat-card-title>

  </mat-card-header>


  <mat-card-content>
    <div class="flex-container">

      <button mat-raised-button
              (click)="onOptionClick('employee')">
        <mat-icon>person</mat-icon>
      </button>

      <button mat-raised-button
              (click)="onOptionClick('project')">
        <mat-icon>account_balance</mat-icon>
      </button>

    </div>
  </mat-card-content>

</mat-card>