.example-card {
  max-width: 600px;
  margin-top: 10%;
  margin-left: 25%;
  height: 200px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
  width: 100px;
  height: 90px;
}