<mat-toolbar color="primary"
             *ngIf="showToolbar">

  <button mat-icon-button
          (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;
  <h1>HR Managment</h1>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container container">
  <mat-sidenav #sidenav
               mode="side"
               class="menu">
    <mat-toolbar>Options:</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item
         [routerLink]="['./employee']">Employees</a>
      <a mat-list-item
         [routerLink]="['./project']">Projects</a>
      <a mat-list-item
         (click)="logout() ">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>