<mat-card class="login">
  <mat-card-header>
    <mat-card-title></mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="flex-container">
      <form [formGroup]="form"
            (ngSubmit)="onFormSubMit()">

        <mat-form-field class="form">
          <input matInput
                 formControlName="username"
                 placeholder="User:">
        </mat-form-field>

        <mat-form-field class="form">
          <input type="password"
                 matInput
                 formControlName="password"
                 placeholder="Password:">
        </mat-form-field>

        <br>
        <button color="primary"
                type="submit"
                mat-raised-button
                [disabled]="!form.valid">
          Login
        </button>
      </form>
    </div>
    <span *ngIf="!userIsValid">Datos incorrectos</span>
  </mat-card-content>

</mat-card>